@using Nop.Core
@using Nop.Services.Configuration
@using DocumentFormat.OpenXml.Wordprocessing


@inject IStoreContext storeContext
@inject ISettingService settingService
@{
    bool stickyCategoryMenuFlyout = true;
    bool showCategoriesInSideMenu = true;
}

<div class="header">
   
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
    <div class="w-full topBlockHidden-desktop"></div>
        <div class="w-full h-[110px] topBlockHidden-mobile"></div>
    
    <div class="header-upper">
        <div class="header-selectors-wrapper">
            @await Component.InvokeAsync("TaxTypeSelector")
            @await Component.InvokeAsync("CurrencySelector")
            @await Component.InvokeAsync("LanguageSelector")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
        </div>
    </div>
    
    @await Component.InvokeAsync("TopMenu")
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>
