.action-btn {
    /*background-color: #FF7F00;*/
    /*border: none;*/
    /*font-size: 20px;*/
    /*font-weight: 600;*/
    text-transform: uppercase;
    /*padding: 0.5em 1.25em;*/
    /*color: white;*/
    /*border-radius: 0.15em;*/
    transition: 0.3s;
    /*cursor: pointer;*/
    position: relative;
    /*display: block;*/
}

/*.action-btn:hover {*/
/*    background-color: #ff6600;*/
/*}*/

.action-btn:focus {
    outline: 0.05em dashed #ff6600;
    outline-offset: 0.05em;
}

.action-btn::after {
    /*content: '';*/
    /*!*display: block;*!*/
    /*width: 1.4em;*/
    /*height: 1.4em;*/
    /*position: absolute;*/
    /*left: calc(50% - 0.75em);*/
    /*top: calc(50% - 0.75em);*/
    /*border: 0.15em solid transparent;*/
    /*border-right-color: #f30235;*/
    /*border-radius: 50%;*/
    /*animation: button-anim 0.7s linear infinite;*/
    /*opacity: 1;*/
    display: none;
    content: '';
    width: 1.6em;
    height: 1.6em;
    position: absolute;
    left: calc(49% - 0.75em);
    top: calc(44% - 0.75em);
    border: 0.15em solid #d3d3d3b8;
    border-right-color: #f30235;
    border-radius: 50%;
    animation: button-anim .7s linear infinite;
}

@keyframes button-anim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.action-btn.loading {
    color: transparent;
}

.action-btn.loading::after {
    /*opacity: 1;*/
    display: block;
}

/* em values are used to adjust button values such as padding, radius etc. based on font-size */

/*///////////////////////////////////////////////////////////////////////////// Product AddToCart Button*/
.product-action-btn {
    text-transform: uppercase;
    transition: 0.3s;
    /*cursor: pointer;*/
    position: relative;
    /*display: block;*/
}

.product-action-btn:focus {
    outline: 0.05em dashed #ff6600;
    outline-offset: 0.05em;
}

.product-action-btn::after {
    display: none;
    content: '';
    width: 2.4em;
    height: 2.4em;
    position: absolute;
    /*left: calc(49% - 0.75em);*/
    /*top: calc(44% - 0.75em);*/
    /*border: 0.15em solid #d3d3d3b8;*/
    /*border-right-color: #f30235;*/
    left: calc(50% - 0.75em);
    top: calc(34% - 0.75em);
    border: 0.2em solid #fff;
    border-right-color: #cb001a;
    border-radius: 50%;
    animation: button-anim .7s linear infinite;
}

@keyframes button-anim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.product-action-btn.loading {
    color: transparent;
}

.product-action-btn.loading::after {
    /*opacity: 1;*/
    display: block;
}
/*////////////////////////////////////////////////////////////////////// Product AddToCartBox Buttons*/
.product-action-btnBox {
    text-transform: uppercase;
    transition: 0.3s;
    /*cursor: pointer;*/
    position: relative;
    /*display: block;*/
}

.product-action-btnBox:focus {
    outline: 0.05em dashed #ff6600;
    outline-offset: 0.05em;
}

.product-action-btnBox::after {
    display: none;
    content: '';
    width: 2em;
    height: 2em;
    position: absolute;
    /*left: calc(49% - 0.75em);*/
    /*top: calc(44% - 0.75em);*/
    /*border: 0.15em solid #d3d3d3b8;*/
    /*border-right-color: #f30235;*/
    left: calc(47% - 0.75em);
    top: calc(37% - 0.75em);
    /*border: 0.3em solid #fff;*/
    /*border-right-color: #cb001a;*/
    border: 0.15em solid #d3d3d3b8;
    border-right-color: #f30235;
    border-radius: 50%;
    animation: button-anim .7s linear infinite;
}

@keyframes button-anim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.product-action-btnBox.loading {
    color: transparent;
}

.product-action-btnBox.loading::after {
    /*opacity: 1;*/
    display: block;
}
/*////////////////////////////////////////////////////////////////// voice Order*/

.voiceOrder-action-btn {
    /*background-color: #FF7F00;*/
    /*border: none;*/
    /*font-size: 20px;*/
    /*font-weight: 600;*/
    text-transform: uppercase;
    /*padding: 0.5em 1.25em;*/
    /*color: white;*/
    /*border-radius: 0.15em;*/
    transition: 0.3s;
    /*cursor: pointer;*/
    position: relative;
    /*display: block;*/
}

/*.action-btn:hover {*/
/*    background-color: #ff6600;*/
/*}*/

.voiceOrder-action-btn:focus {
    outline: 0.05em dashed #ff6600;
    outline-offset: 0.05em;
}

.voiceOrder-action-btn::after {
    /*content: '';*/
    /*!*display: block;*!*/
    /*width: 1.4em;*/
    /*height: 1.4em;*/
    /*position: absolute;*/
    /*left: calc(50% - 0.75em);*/
    /*top: calc(50% - 0.75em);*/
    /*border: 0.15em solid transparent;*/
    /*border-right-color: #f30235;*/
    /*border-radius: 50%;*/
    /*animation: button-anim 0.7s linear infinite;*/
    /*opacity: 1;*/
    display: none;
    content: '';
    width: 1.6em;
    height: 1.6em;
    position: absolute;
    left: calc(49% - 0.75em);
    top: calc(44% - 0.75em);
    border: 0.15em solid #e7e7e7ab;
    border-right-color: #4d78d9;
    border-radius: 50%;
    animation: button-anim .7s linear infinite;
}

@keyframes button-anim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.voiceOrder-action-btn.loading {
    color: transparent;
}

.voiceOrder-action-btn.loading::after {
    /*opacity: 1;*/
    display: block;
}