@layer base {
    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 700;
        src: url("../fonts/Woff/IRANSansXFaNum-Bold.woff") format("woff"),
        url("../fonts/Woff2/IRANSansXFaNum-Bold.woff2") format("woff2");
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 400;
        src: url("../fonts/Woff/IRANSansXFaNum-Regular.woff")
        format("woff"),
        url("../fonts/Woff2/IRANSansXFaNum-Regular.woff2")
        format("woff2");
    }
}