.searchBox-action-btn {
    transition: 0.3s;
    position: relative;
}

.searchBox-action-btn::after {
    display: none;
    content: '';
    width: 1.6em;
    height: 1.6em;
    position: absolute;
    left: calc(49% - 0.75em);
    /*top: calc(44% - 0.75em);*/
    right: 7px;
    top: 7px;
    border: 0.15em solid #e7e7e7ab;
    border-right-color: #f30235;
    border-radius: 50%;
    animation: button-anim .7s linear infinite;
}

@keyframes button-anim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.searchBox-action-btn.loading {
    /*color: transparent;*/
}

.searchBox-action-btn.loading::after {
    /*opacity: 1;*/
    display: block;
}