.searchBox-action-btn {
    /*background-color: #FF7F00;*/
    /*border: none;*/
    /*font-size: 20px;*/
    /*font-weight: 600;*/
    /*text-transform: uppercase;*/
    /*padding: 0.5em 1.25em;*/
    /*color: white;*/
    /*border-radius: 0.15em;*/
    transition: 0.3s;
    /*cursor: pointer;*/
    position: relative;
    /*display: block;*/
}

/*.action-btn:hover {*/
/*    background-color: #ff6600;*/
/*}*/

.searchBox-action-btn:focus {
    outline: 0.05em dashed #ff6600;
    outline-offset: 0.05em;
}

.searchBox-action-btn::after {
    /*content: '';*/
    /*!*display: block;*!*/
    /*width: 1.4em;*/
    /*height: 1.4em;*/
    /*position: absolute;*/
    /*left: calc(50% - 0.75em);*/
    /*top: calc(50% - 0.75em);*/
    /*border: 0.15em solid transparent;*/
    /*border-right-color: #f30235;*/
    /*border-radius: 50%;*/
    /*animation: button-anim 0.7s linear infinite;*/
    /*opacity: 1;*/
    display: none;
    content: '';
    width: 1.6em;
    height: 1.6em;
    position: absolute;
    left: calc(49% - 0.75em);
    /*top: calc(44% - 0.75em);*/
    right: 7px;
    top: 7px;
    border: 0.15em solid #e7e7e7ab;
    border-right-color: #f30235;
    border-radius: 50%;
    animation: button-anim .7s linear infinite;
}

@keyframes button-anim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.searchBox-action-btn.loading {
    color: transparent;
}

.searchBox-action-btn.loading::after {
    /*opacity: 1;*/
    display: block;
}